<link rel="stylesheet" href="/stylesheets/index.css">
<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>

      {{!-- sort排序器 如果沒有關鍵字路由就有篩選評分按鈕--}}
      {{#unless keyword}}
      <div class="d-flex justify-content-start mt-3 dropdown">
        <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          評分
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/?order=desc&sortBy=rating">由高到低</a>
          <a class="dropdown-item" href="/?order=asc&sortBy=rating">由低到高</a>
        </div>
      </div>
      {{/unless}}

    </div>
  </div>
</div>
</div>

<div class="d-flex justify-content-center container mt-4">
  <p>一共找到{{restaurants.length}}間餐廳</p>
</div>


<!-- restaurant list -->
<div id="restaurant-card" class="container">
  <div class="row row-cols-md-4 justify-content-center">
    {{#each restaurants}}
    <div class="card mx-3 mb-3">

      {{!-- 刪除按鈕 --}}
      <form action="/restaurant/{{this._id}}?_method=DELETE" method="POST">
        <button id="deleteBtn" class="delete text-white btn-danger btn-sm rounded-circle">X</button>
      </form>

      {{!-- 卡片內容 --}}
      <a href="/restaurant/{{this._id}}" class="text-secondary">
        <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
      </a>
      <div class="card-body p-3">
        <h6 class="card-title mb-1">{{this.name}}</h6>

        <div class="restaurant-category mb-1">
          <i class="fas fa-utensils pr-2"></i> {{this.category}}
        </div>

        <span class="badge badge-pill badge-danger font-weight-normal">
          {{this.rating}}
          <i class="fas fa-star fa-xs"></i>
        </span>

        <div class="d-flex justify-content-end">
          {{!-- 編輯餐廳 --}}
          <form action="/restaurant/{{this._id}}/edit" class="mx-3">
            <button class="btn edit d-inline-flex align-items-center border"><i
                class="fas fa-edit d-flex align-items-center"></i>edit</button>
          </form>

          {{!-- 刪除餐廳 --}}
          <form action="/restaurant/{{this._id}}?_method=DELETE" method="POST">
            <button class="btn delete d-inline-flex align-items-center border"><i
                class="fas fa-trash-alt"></i>delete</button>
          </form>

        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

{{!-- 新增餐廳 --}}
<form action="/restaurant/new">
  <button id="createBtn" class="btn btn-success btn-lg rounded-circle" type="submit"><span>+</span></button>
</form>